**/node_modules
**/coverage
**/data/*.sqlite
**/saf-workflow-status.json
Dockerfile
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
