import common.Caddyfile

# Recipes client subdomains → vite dev server

http://docker.localhost {
	import spa /__product-name__-static-root /index.html
}

http://auth.docker.localhost {
	reverse_proxy clients:5173
}

http://app.docker.localhost {
	reverse_proxy clients:5173
}

http://admin.docker.localhost {
	reverse_proxy clients:5173
}

http://account.docker.localhost {
	reverse_proxy clients:5173
}

# __ProductName__ API

http://api.docker.localhost {
	import cors docker.localhost
	import kratos-api-proxy monolith:3001
}

# Kratos public API

http://kratos.docker.localhost {
	import cors docker.localhost
	reverse_proxy kratos:4433
}
