name: Typecheck

on:
  pull_request:
    branches:
      - main

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      - name: Install submodules
        run: git submodule update --init
      - name: Install dependencies
        run: npm install
      - name: Run Typecheck
        run: npm run typecheck
